.container {
    position: relative;
    margin: auto;
    padding: 20px;
}

.userInfo {
    font-size: 35px;
    margin-bottom: 45px;
    text-align: center;
}

.welcomeMessage {
    color: firebrick;
    font-size: 25px;
}

.userName {
    color: firebrick;
}